<nav>
  <ul>

    <li >
      <a routerLink="profile">
        <i class="material-icons">supervised_user_circle</i>
      </a>
      
    </li>

    <li>
        <a routerLink="feed">
          <i class="material-icons">subject</i>
        </a>
    </li>
    <li>
        <a routerLink="chat">
          <i class="material-icons">message</i>
        </a>
    </li>
    
    <li>
      <a routerLink="signup" (click)="logout()">
        <i class="material-icons">power_settings_new</i>
      </a>
  </li>

    
  </ul>
</nav>
